<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Refresh" content="0; url=/categories/" />  <!-- 0 秒跳转，url 为分类页路径 -->
  <meta charset="utf-8">
  <title>跳转到分类页...</title>
</head>
<body>
  正在跳转到分类页... 若未自动跳转，请点击 <a href="/categories/">这里</a>。
</body>
</html>